.demonstration-callout-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: inset 0 8px 18px 0 rgba(34, 90, 250, 0.1);
  --tw-shadow-colored: inset 0 8px 18px 0 var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: url(../assets/bg.png);
}

@media (width >= 780px) {
  .form-wrapper {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .flex-width {
    width: 40% !important;
  }
  .label {
    display: flex;
    width: 40%;
  }
}

@media (width < 780px) {
  .form-wrapper {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .label {
    align-self: flex-start;
  }
}
